@using practice_TrekCompany.Models.factory
@model IEnumerable<Staff>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h1 class="jumbotron-heading text-center">Співробітники</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Прізвище</th>
                <th scope="col">Ім'я</th>
                <th scope="col">Посада</th>
                <th scope="col">Виробництво</th>
            </tr>
        </thead>

        @{ int i = 1; }

        @foreach (var staff in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@i</th>
                    <td>@staff.SecondName</td>
                    <td>@staff.FirstName</td>
                    <td>@staff.JobTitle.JobTitleName</td>
                    <td>@staff.Factory.City, @staff.Factory.Street, @staff.Factory.ZipCode</td>
                </tr>
                @{ i++; }
            </tbody>
        }
        
    </table>

</div>