@using practice_TrekCompany.Models.production;
@model Bike

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->      
    <h1 class="my-4">
        Категорія: @Model.TypeOfBike.TypeName
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.BikeImage" alt="Image1">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.BikeName</h3>
            <p>@Model.BikeDescription</p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Фреймсет</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Розміри</tH>
                    <td>@Model.Wheelset.Rim.RimName, @Model.Wheelset.Rim.RimDescription</td>
                </tr>
                <tr>
                    <th scope="row">Рама</th>
                    <td>@Model.Frameset.Frame.FrameName, @Model.Frameset.Frame.FrameDescription</td>
                </tr>
                <tr>
                    <th scope="row">Вилка</th>
                    <td>@Model.Frameset.Fork.ForkName, @Model.Frameset.Fork.ForkDescription</td>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Колеса</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Втулки</tH>
                    <td>@Model.Wheelset.Hub.HubName, @Model.Wheelset.Hub.HubDescription</td>
                </tr>
                <tr>
                    <th scope="row">Ободи</th>
                    <td>@Model.Wheelset.Rim.RimName, @Model.Wheelset.Rim.RimDescription</td>
                </tr>
                <tr>
                    <th scope="row">Покришки</th>
                    <td>@Model.Wheelset.Tire.TireName, @Model.Wheelset.Tire.TireDescription</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Ходова</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Шифтери</tH>
                    <td>@Model.Groopset.Transmition.Shifter.ShifterName</td>
                </tr>
                <tr>
                    <th scope="row">П.перемикач</th>
                    <td>@Model.Groopset.Transmition.Switch.SwitchName</td>
                </tr>
                <tr>
                    <th scope="row">З.перемикач</th>
                    <td>@Model.Groopset.Transmition.Switch.SwitchName</td>
                </tr>
                <tr>
                    <th scope="row">Касета</th>
                    <td>@Model.Groopset.Transmition.Cassette.CassetteName</td>
                </tr>
                <tr>
                    <th scope="row">Каретка</th>
                    <td>@Model.Groopset.Carriage.CarriageName</td>
                </tr>
                <tr>
                    <th scope="row">Педалі</th>
                    <td>@Model.Groopset.Pedals.PedalsName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Компоненти</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Гальма</tH>
                    <td>@Model.Equipment.Brake.BrakeName</td>
                </tr>
                <tr>
                    <th scope="row">Сідло</th>
                    <td>@Model.Equipment.Saddle.SaddleName</td>
                </tr>
                <tr>
                    <th scope="row">Підсідельний штир</th>
                    <td>@Model.Equipment.SeatPost.SeatPostName</td>
                </tr>
                <tr>
                    <th scope="row">Винос</th>
                    <td>@Model.Equipment.Stem.StemName</td>
                </tr>
                <tr>
                    <th scope="row">Кермо</th>
                    <td>@Model.Equipment.Steering.SteeringName</td>
                </tr>
                <tr>
                    <th scope="row">Грипси</th>
                    <td>@Model.Equipment.Handlebar.HandlbarName</td>
                </tr>
                <tr>
                    <th scope="row">Рульова</th>
                    <td>@Model.Equipment.Grips.GripsName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <br />
    <p><b>Вага</b> @Model.BikeWeight кг<hr /></p>
    <p><b>Ціна</b> @Model.BikePrice грн<hr /></p>
</div>