@using practice_TrekCompany.Models.production;
@model Bike

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->      
    <h1 class="my-4">
        Категорія: @Model.TypeOfBike.typeName
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.bikeImage" alt="Image1">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.bikeName</h3>
            <p>@Model.bikeDescription</p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Фреймсет</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Розміри</tH>
                    <td>@Model.Wheelset.Rim.rimName, @Model.Wheelset.Rim.rimDescription</td>
                </tr>
                <tr>
                    <th scope="row">Рама</th>
                    <td>@Model.Frameset.Frame.frameName, @Model.Frameset.Frame.frameDescription</td>
                </tr>
                <tr>
                    <th scope="row">Вилка</th>
                    <td>@Model.Frameset.Fork.forkName, @Model.Frameset.Fork.forkDescription</td>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Колеса</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Втулки</tH>
                    <td>@Model.Wheelset.Hub.hubName, @Model.Wheelset.Hub.hubDescription</td>
                </tr>
                <tr>
                    <th scope="row">Ободи</th>
                    <td>@Model.Wheelset.Rim.rimName, @Model.Wheelset.Rim.rimDescription</td>
                </tr>
                <tr>
                    <th scope="row">Покришки</th>
                    <td>@Model.Wheelset.Tire.tireName, @Model.Wheelset.Tire.tireDescription</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Ходова</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Шифтери</tH>
                    <td>@Model.Groopset.Transmition.Shifter.shifterName</td>
                </tr>
                <tr>
                    <th scope="row">П.перемикач</th>
                    <td>@Model.Groopset.Transmition.Switch.switchName</td>
                </tr>
                <tr>
                    <th scope="row">З.перемикач</th>
                    <td>@Model.Groopset.Transmition.Switch.switchName</td>
                </tr>
                <tr>
                    <th scope="row">Касета</th>
                    <td>@Model.Groopset.Transmition.Cassette.cassetteName</td>
                </tr>
                <tr>
                    <th scope="row">Каретка</th>
                    <td>@Model.Groopset.Carriage.carriageName</td>
                </tr>
                <tr>
                    <th scope="row">Педалі</th>
                    <td>@Model.Groopset.Pedals.pedalsName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Компоненти</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Гальма</tH>
                    <td>@Model.Equipment.Brake.brakeName</td>
                </tr>
                <tr>
                    <th scope="row">Сідло</th>
                    <td>@Model.Equipment.Saddle.saddleName</td>
                </tr>
                <tr>
                    <th scope="row">Підсідельний штир</th>
                    <td>@Model.Equipment.SeatPost.seatPostName</td>
                </tr>
                <tr>
                    <th scope="row">Винос</th>
                    <td>@Model.Equipment.Stem.stemName</td>
                </tr>
                <tr>
                    <th scope="row">Кермо</th>
                    <td>@Model.Equipment.Steering.steeringName</td>
                </tr>
                <tr>
                    <th scope="row">Грипси</th>
                    <td>@Model.Equipment.Handlebar.handlbarName</td>
                </tr>
                <tr>
                    <th scope="row">Рульова</th>
                    <td>@Model.Equipment.Grips.gripsName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Related Projects Row -->
    <br />
    <p><b>Вага</b> @Model.bikeWeight кг<hr /></p>
    <p><b>Ціна</b> @Model.bikePrice грн<hr /></p>
</div>